body{
    background-color: turquoise;
}





















/*
body{
    /*background-color: rgb(60, 60, 60); /
    background-color: rgb(255, 255, 255);
    color: #3b3b3b;
    font: 1.4rem "Fira Sans", sans-serif;
    font-weight: 300;
}

h3{
    color: #67c3da;
    font: 1.4rem "Fira Sans", sans-serif;
    font-weight: 900;
}
h1{
    color: #60b56a;
    font: 3.0rem "Fira Sans", sans-serif;
    font-weight: 900;
}

a{
    color: #67c3da;
    font: 1.4rem "Fira Sans", sans-serif;
    font-weight: 400;
    text-decoration: none
}
*/